body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/3.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.1); 
    text-align: right;
}

.tabs {
    text-align: right;
}

.tab {
    margin-left: 20px;
}

.header h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
}

.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.footer {
    padding-top: 300px;
    margin-left: 20px; 
}
